body {
	background: #a09e9e6a;
}

nav {
	background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 0, 0)100%);
	display: flex;
	width: 100vw;
	height: 9vh;
	position: fixed;
	z-index: 10;
}

.botao-especial {
	width:50px;
	height: 50px;
	background: rgba(25, 10, 27, 0.5);
	z-index: 50;
	position: fixed;	
	right:15px;
	bottom:15px;
	border: 1px solid #fff;
	border-radius: 50% ;
	transition: all .3s;

	cursor: pointer;
}

.botao-especial:hover {
	border: 1px solid #333;
	border-radius: 10% ;
	background: rgba(25, 10, 27, 1);
}

.botao-especial:after {
	background-color: green;
	width: 10px;
	height: 10px;
	display: block;
}

nav img {
	margin:10px 1%;
}

nav ul {
	list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
	width: 80%;
	margin-left: 8vh;
}

nav ul li {
    margin: 10px 1% 10px 1%;
    width:14%;
	text-align: center;
}

nav ul li a {
	color:#383838;
	padding: 2vh 1vh;
	text-decoration: none;
	transition: all 1s;
	display: block;
    width: 100%;
    margin: 6px;
}

nav ul li a:hover {
	color: white;
	text-decoration: underline;
}

header {
	height: calc(121vh - 10vw);
	width: 98.9vw;
	display: flex;
	align-items: center;
	background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(255, 0, 0)100%);
}

h1 {
	text-align: center;
	width: 100%;
	color: #FFF;
}

h2 {
	margin: 3% 0 0 3%;
}

p{
	margin: 3% 0 0 3%;
}

div {
	background: rgb(255, 255, 255);
}

.texto_destaque {
	color: red
}

.texto_negrito {
	font-weight: bold;
}

.banner {
	background-color: red;
	margin: 20px auto 0 auto; 
}

#banner {
	display: flex;
	flex-direction: row;
	padding: 10% 10% 10% 80px;
	border:1px solid;
	width: 800px;
}

@media screen and (max-width: 800px) {
	#banner {
		flex-direction: column;
		padding: 0;
		width: 800px;
		background-color: green;
	}
	.celular {
		display: none;
	}
}

@media screen and (min-width: 1200px) {

	#banner {
		padding: 0;
		width: 800px;
		background-color: rgba(255, 255, 0, 0.544);
	}
}



/*
	Tabela
*/

h2 {
	text-align: center;
}

table {
	width: 80%;
	margin: 0 auto 0 auto;
	border: 1px solid #333;
}

table th {
	padding: 4px 6px;
	font-size: 18px;
}

table td:first-child {
	font-size: 16px;
	color:#000000;
	font-weight: bold;
	text-align: center;
}

table td:nth-child(3) {
	font-style: italic;
	font-size: 14px;
	color: #000000;
	text-align: center;
}

table td:last-child {
	font-size: 16px;
	color:#000000;
	font-weight: bold;
	background-color: #474747;
	text-align: center;
}

table tr:nth-child(odd) {
	background-color: rgba(129, 2, 2, 0.579);
}

table tr:nth-child(even) {
	background-color: rgba(142, 54, 54, 0.627);
}

/*
	Footer
*/

/*
	Informações a respeito dos membros da página
*/

.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}

.member {
	width: 300px;
	height: 400px;
	margin-bottom: 5px;
	background-color: #f1f1f1;
	padding: 5px;
	box-sizing: border-box;
}

.member img {
	width: 100%;
	height: 200px;
	object-fit: cover;
	margin-bottom: 20px;
}

.member h3 {
	margin-top: 0;
	margin-left: 2vh;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
}

.member p {
	margin-bottom: 0;
	font-size: 18px;
	text-align: center;
}